h1{
    color:white !important;
    text-align: center !important;
}
h3{
    height: 40px;
    text-align: center;
}
#secondPlayer,#firstPlayer,#result{
    width: 18rem;
    min-height: 180px !important;
}

#chat-box{
    height:150px !important

}
textarea {
    overflow-y: scroll;
    height: 150px;
    width: 40%;
    /* resize: none; Remove this if you want the user to resize the textarea */
}
#userName{
    margin-left: 30%;
}
a,li{
    text-decoration-line: none;
}



    

